@media (min-width:200px) and (max-width:799px) {
    img
    {
        margin-bottom: 10px;
        min-height: auto;
        max-height: 400px;
        position : relative;
    }
}

@media (min-width:800px) {
    img
    {
        margin-bottom: 10px;
        min-height: auto;
        max-height: 500px;
        position : relative;
    }
}